.Timer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Timer-Picker {
  max-width: 100%;
  height: 250px;
  display: flex;
  justify-content: center;
  position: absolute;
}

.Timer-Countdown {
  font-size: 2em;
  font-weight: bold;
  width: 250px;
  height: 250px;
  margin: 15px auto;
  position: absolute;
}

.Outer-Circle, .Inner-Circle
{
  z-index: 3;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: 1px solid rgba(0, 0, 0, 0.4);
}

.Inner-Circle
{
  top: 50%;
  left: 50%;
  width: 230px;
  height: 230px;
  margin-left: -115px;
  margin-top: -115px;
  border-radius: 100%;
  background-color: #fff;
}

/* @keyframes arc-pointer
{
  0%{
    -webkit-transform: rotate(180deg);
  }
  100%{
    transform: rotate(540deg);
  }
} */

.Arc-Pointer
{
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  z-index: 2;
  /* background-color: rgba(0, 0, 0, 0.7); */
}

/* .Arc-Pointer:not(.Reseted) {
  animation: arc-pointer 60s linear infinite both;
  clip: rect(125px, 150px, 300px, 125px);
}

.Arc-Pointer.Reseted {
  background-color: white;
}

.Arc-Pointer.Paused {
  animation-play-state: paused;
} */

.Number-Picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.Number-Picker-Input {
  width: 100px;
}

.Timer-Buttons {
  display: flex;
  margin-top: 350px;
}

.Timer-Button {
  margin: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: black;
  opacity: 0.4;
  color: white;
  cursor: pointer;
}

.Timer-Button:hover, .Timer-Button:active {
  opacity: 1;
}
